*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    overflow-x: hidden;
}
.text-center{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

.form-group{
    display: grid;
    place-items: center;
}
footer{
    display: grid;
    justify-content: center;
    position: relative;
    align-items: center;
    font-size: 12px;
}
label{
    cursor:text;
    display: block;
}
.form-control{
    display: block;
    text-align:calc(100px);
    height: calc(11.5em+.75rem+2px);
    width: 95%;
    color: #495057;
    line-height: 1.5;
    background-color: #fff;
    padding-left: 10px;
    border:1px solid #ced4da;
    transition: border-color .15s linear, box-shadow .15s linear;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem #007bff40
}
#btn-submit{
    background-color: #9d88d3;;
    position: relative;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    color: darkblue;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 16px;
    overflow: hidden;
    /* 设置指针样式 */
    cursor:pointer;      
    box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);
}

.alert-text-style{
    color: red;
    font-size: 0.5em;
}